html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#mapid {
  height: 70em;
}

.lightSection h4 .lightSection .featureBox [class^="icon_"], .lightSection .featureBox [class*="icon_"] {
  color: #009edb;
}

#where {
  padding-bottom: 0px;
}

svg.middle {
  vertical-align: middle;
}

.well {
  min-width: 16em;
}

.well .text-right {
  padding-right: 1em;
}

.fa-github {
  color: #000;
  font-size: 25px;
  margin-right: 23px;
}
