html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#mapid {
  height: 70em;
}

.lightSection h4 .lightSection .featureBox [class^="icon_"], .lightSection .featureBox [class*="icon_"] {
  color: #009edb;
}

#where {
  padding-bottom: 0px;
}
/*Severe*/
.gOne {
  color: #ff3399;  /*Fill, Vivid pink, a websafe color*/
  /*color: #ff0099;  /*Stroke, Pure pink, a websafe color*/
}
/*Moderate*/
.gTwo {
  color: #ff0000;  /*Fill, Red, Pure red, a websafe color*/
  /*color: #cc0000;  /*Stroke, BU-red, Strong red, a websafe color*/
}
/*Mild*/
.gThree {
  color: #ff9933;  /*Fill, deepSaffron, Vivid orange, a websafe color*/
  /*color: #ff6600;  /*Stroke, pureOrange, Pure (or mostly pure) orange, a websafe color*/
}

svg.middle {
  vertical-align: middle;
}

.well {
  min-width: 16em;
}

.fa-github {
  color: #000;
  font-size: 25px;
  margin-right: 23px;
}
